body{
 
  background-color: rgb(253, 211, 0);
  overflow: hidden;

}

h1{

text-align: center;
  color: #000000;
  font-size: 3.5em;
}

.poster{

  background-image: url("/images/pic1.png");
  background-repeat: no-repeat;
  background-position:center;
  padding: 350px 100px;

}

